<nav class="navbar navbar-primary bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
</nav>

<div class="container mt-5">


  <div class="row">
    <div class="col-7">
      <div class="card">
        <div class="card-header">
          Add User
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-6">
                <div class="form-group m-1">
                  <label for="firstName">First Name</label>
                  <input type="text" class="form-control" id="firstName" placeholder="Enter First Name" required>
                  <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                </div>
              </div>
              <div class="col-6">
                <div class="form-group m-1">
                  <label for="lastName">Last Name</label>
                  <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name" required>
                  <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group m-1">
                  <label for="dateOfBirth">Birthdate</label>
                  <input type="text" class="form-control" id="dateOfBirth" placeholder="Enter Birthdate" required>
                  <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                </div>
              </div>
              <div class="col-6">
                <div class="form-group m-1">
                  <label for="phone">Phone</label>
                  <input type="text" class="form-control" id="phone" placeholder="Enter Phone">
                  <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group m-1">
                  <label for="address">Address</label>
                  <input type="text" class="form-control" id="address" placeholder="Enter Address" required>
                  <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                </div>
              </div>
            </div>
          </form>

          <div class="d-flex flex-row-reverse">
            <div class="p-2">
              <button type="submit" class="btn btn-primary">Add User to Queue</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-5">
      <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let user of (users$ | async)">
          <div class="ms-2 me-auto">
            <div class="fw-bold">{{user.firstName + " " + user.lastName}}</div>
            {{user.address}}
          </div>
          <span class="badge bg-secondary rounded-pill">{{user.dateOfBirth}}</span>
        </li>
      </ol>
    </div>
  </div>
</div>



